<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decode</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert2 -->
</head>

<body>
<div th:replace="~{fragments/topnav :: header}"></div>
<main>
    <section class="decode-section">
        <h1>Decode Image</h1>
        <p>Extract a hidden message from an image file</p>

        <label class="upload-image" for="custom-image-upload">
            <input type="file" id="custom-image-upload" accept="image/*" style="display: none;">
            <img id="image-preview" src="/icons/uploadd.png" alt="Upload image">
        </label>

        <div class="key-container">
            <label for="key-field"></label>
            <input type="password" id="key-field" placeholder="Encryption key...(16 characters)" required maxlength="16"/>
            <img id="toggle-key-field" src="/icons/hide.png" alt="Toggle key visibility" />
        </div>
        <div id="key-error" style="color: red; display: none;">Invalid key.</div>

        <button class="decode-btn" id="decode-btn">Decode Message</button>

        <!-- Processing text -->
        <div id="processing-text" style="display: none;">Processing<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></div>

        <h2 id="decoded-message-heading" style="display: none;">Decoded Message:</h2>
        <div class="decoded-message" id="decoded-message" style="display: none;"></div>
        <div class="decode-compilation-time" id="decode-compilation-time" style="display: none;">Compilation time: 0 seconds</div>
    </section>
</main>
<script src="/js/idecode.js"></script>

</body>
</html>
